version: '2'
services:
  opencycle:
    build: ./
    environment:
      - "DB_HOST=database"
      - "DB_CONNECTION=pgsql"
      - "DB_PORT=5432"
    volumes:
      - ./:/var/www/html
  nginx:
    volumes:
      - ./:/var/www/html
  database:
    environment:
      - "POSTGRES_DB=opencycle"
      - "POSTGRES_USER=homestead"
      - "POSTGRES_PASSWORD=secret"
