// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Uppy
@import '~@uppy/core/dist/style';
@import '~@uppy/dashboard/dist/style';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #ecf0f1;
  text-align: center;
}

.flag-img {
  width: 1.3rem;
  margin-right: 10px;
}
